@import "../../mixins.scss";

.discussion_container {
  display: flex;
  justify-content: space-evenly;
  // text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  min-height: 550px;
  background-color: orange;
  border-radius: 12px;

  .left {
    width: 22%;
    // background-color: red;
    .title {
      height: 6%;
      text-align: center;
      border-radius: 10px;
      background-color: aliceblue;
    }
    .chat_rooms {
      height: 92%;
      margin-top: 4%;
      padding-top: 10px;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 10px;
      background-color: yellow;
      .room {
        display: flex;
        height: 48px;
        margin-top: 10px;
        // background-color: green;

        // .dp {
        //   width: 20%;
        //   //  show the border only when someone is online
        //   border: 3px solid orange;
        //   border-radius: 50%;
        //   background-color: aqua;
        //   overflow: hidden;
        // }
        .overview {
          width: 100%;
          // background-color: red;

          &#exit {
            // width: 80%;
            display: flex;
            justify-content: space-evenly;
            button  {
              width: 80%;
            }
            .exit_button{
              width: 15%;
              height: 100%;
              color: var(--black);
              size: 18px;
              background-color: white;
              border: 1px solid black;
              justify-content: center;
            }
            // background-color: green;
          }

          button {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .middle {
    width: 55%;
    // background-color: blue;
    .title {
      height: 6%;
      text-align: center;
      border-radius: 10px;
      background-color: aliceblue;
    }
    .message_container {
      height: 92%;
      margin-top: 1.5%;
      padding: 5px;
      border-radius: 10px;
      background-color: aliceblue;
      position: relative;
      overflow-y: hidden;
      overflow-x: hidden;

      .display {
        height: 420px;
        border-radius: 5px;
        padding: 10px 10px;
        background-color: rgb(91, 75, 75);
        border: 5px solid black;
        overflow-y: scroll;
        overflow-x: hidden;

        // overflow-wrap: break-word;
              word-wrap: break-word;

        .message {
          display: flex;
          width: 100%;
          padding: 3px 3px;
          // background-color: pink;

          &#other {
            justify-content: flex-start;
            .message-content{
              background-color: rgb(223, 206, 175);
            }
          }

          &#you {
            justify-content: flex-end;

            .message-content{
              background-color: rgb(164, 225, 155);
            }

            .message-meta{
              justify-content: flex-end;
            }
          }

          .message_line {
            max-width: 300px;
            margin-bottom: 5px;
            padding: 3px 3px;
            // background-color: orange;

            .message-content {
              padding: 3px 4px;
              max-width: 300px;
              font-size: 16px;
              text-align: center;
              border-radius: 5px;
              background-color: white;
            }

            .message-meta {
              display: flex;
              gap: 3px;
              // justify-content: space-between;
              width: 100%;
              margin-top: 3px;
              font-size: 11px;
              font-weight: 400;
              color: white;
              // background-color: green;

              .time {
                min-width: 30px;
                text-align: center;
                // background-color: violet;
              }

              .author {
                // min-width: 150px;
                padding: 0px 3px;
                // background-color: wheat;
              }
            }
          }
        }
        // }
      }
      .controls {
        height: 50px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        // background-color: red;
        input {
          width: 84%;
          padding-left: 20px;
          color: black;
          border: solid 2px black;
          border-radius: 10px;
          // background-color: pink;
        }
        button {
          width: 15%;
          border-radius: 10px;
          background-color: var(--pink3);
        }
      }
    }
  }
  .right {
    width: 20%;
    // background-color: pink;
    .title {
      height: 6%;
      border-radius: 10px;
      text-align: center;
      background-color: aliceblue;
    }
    .participants {
      height: 92%;
      margin-top: 4%;
      border-radius: 10px;
      background-color: aliceblue;
    }
  }
}
